#nav_top {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav {
  list-style: none;
  background: #323232;
  height: 3.5em;
  padding: 0;
  margin-top: -0.5em;
  margin-left: -0.5em;
  border-bottom: 2px solid #4E4E4E;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.nav a {
  margin: 0;
  padding: 1.3em;
  font-family: Arial, sans-serif;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #E6E6E6;
}

.nav a:hover {
  background: white;
  color: #009900;
}

body {
  background-image: url(../../img/Tapete_Swing_Line_93469-1G.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: white;
  color: black;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.boxes {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.boxes td {
  width: 20em;
  height: 20em;
  margin: 2em;
  background: rgba(50, 50, 50, 0.8);
  border: 3px solid #009900;
  border-radius: 20px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: center;
  align-items: center;
}

.boxes td:hover {
  background: #009900;
}

.boxes a {
  padding: 5em 0 5em 0;
  width: 20em;
  color: white;
  font-size: 30px;
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: none;
}












h1 {
  text-align: center;
  font-family: Verdana, Lucida Console;
  text-transform: capitalize;
  margin-top: 2em;
  color: black;
  position: relative;
}

h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 1em;
  color: white;
}

img {
  width: 10em;
  height: 10em;
  margin-bottom: 1em;
}

.divp {
  border: 2px solid black;
  padding: 20px;
}

#logout {
  border: 2px solid black;
  background-color: blue;
  margin-top: 10em;
}

/*.category {
  color: #E6E6E6;
  font-size: 30px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  margin-left: 0em;
  margin-top: 0em;
  padding: 0em;
}*/

/*td div {
  border: 4px solid #3D0066;
  margin-right: 3em;
  margin-bottom: 3em;
  background: rgba(61, 0, 102, 0.6);
  border-radius: 10px;
  width: 20em;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;*/

  /* Cross browser support (FlexBox) */
/*  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

td div:hover {
  background: rgba(61, 0, 102, 1);
}*/

#fav {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

#cont_cont {
  margin-top: 1em;
  margin-left: 20em;
  position: absolute;
  color: white;
}

#cont {
  width: 10em;
  height: 10em;
  margin-top: 2em;
  margin-bottom: 0.3em;
}

#p_cont {
  font-size: 20px;
}

/*p {
  color: #E6E6E6;
  text-align: center;
  font-size: 30px;
  font-family: Arial, sans-serif;
}*/

table {
  margin-left: auto;
  margin-right: auto;
}

#sidebar {
  background-color: rgba(61, 0, 102, 0.4);
  border-radius: 10px;
  height: 11em;
  width: 14em;
  margin-top: 1.5em;
  margin-left: -0.5em;
  padding: 0.5em 0em -1em 0em;
  float: left;
  clear: left;
  display: inline-block;
}

nav > a {
  margin-top: 0.25em;
  margin-left: 0.2em;
  margin-right: 5em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #E6E6E6;
}

.button {
  width: 10em;
  height: 34px;
  border-radius: 8px 0px 0px 8px;
  -webkit-border-radius: 8px 0px 0px 8px;
  float: left;
  position:relative;
  background: blue;
  line-height: 30px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3D0066), to(#121212));
  background-image: -webkit-linear-gradient(top, #3D0066, #121212); 
  background-image:    -moz-linear-gradient(top, #3D0066, #121212);
  background-image:     -ms-linear-gradient(top, #3D0066, #121212);
  background-image:      -o-linear-gradient(top, #3D0066, #121212);
}
.button:after {
  content: "";
  width: 25px;
  height: 25px;
  background: blue;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 0.2em;
  right: -0.6em;
  z-index: -1;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#3D0066), to(#121212));
  background-image: -webkit-linear-gradient(top left, #3D0066, #121212); 
  background-image:    -moz-linear-gradient(top left, #3D0066, #121212);
  background-image:     -ms-linear-gradient(top left, #3D0066, #121212);
  background-image:      -o-linear-gradient(top left, #3D0066, #121212);
}

.middle {
  width: 29em;
  height: 5em;
  margin-top: 0.5em;
  margin-left: -0.6em;
  padding-left: 1em;
  display: block;
  border: 2px solid #E6E6E6;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  float: left;
  color: white;
  font-size: 25px;
  text-decoration: underline;

  display: flex;
  align-items: center;

  /* Cross browser support (FlexBox) */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.second {
  position: relative;
  float: left;
  text-align: center;
  margin-left: 18.5em;
  font-size: 20px;
}

span {
  text-align: center;
  margin-left: 15em;
}

.regular {
  color: #E6E6E6;
  font-family: Arial, sans-serif;
  text-decoration: none;
  float: left;
  font-size: 25px;
  padding-top: 0em;
  padding-right: 0.4em;
  margin-left: 0.8em;
}

#box {
  margin-top: 1em;
  margin-left: 20em;
  position: absolute;
  border-radius: 20px;
  background: rgba(61, 0, 102, 0.4);
  width: 50em;
  height: 60em;
}

#footer {
  margin-top: 70em;
  width: 100%;
  height: 3em;
}

/*.boxes {
  margin-top: 2em;
  position: relative;
  border-radius: 20px;
  background: rgba(61, 0, 102, 0.4);
  width: 30em;
  height: 20em;
}*/

.align {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Cross browser support (FlexBox) */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#img_sign {
  margin-top: 4em;
  width: 20em;
  height: 4em;
  border: 2px solid #E6E6E6;
  border-radius: 15px;
  margin-bottom: -0.3em;
}

div > a {
  margin-left: 5em;
  padding-top: 3em;
}

.date {
  font-size: 20px;
}

textarea {
  height: 10em;
  width: 20em;
}

#fields {
  color: #E6E6E6;
  font-size: 20px;
  font-family: Arial, sans-serif;
  padding-left: 1em;
}


#small {
  font-size: 15px;
  color: white;
}

#ahover {
  color: #E6EFE6;
}

#ahover:hover {
  background: rgba(255, 255, 255, 0.6);
  color: rgba(61, 0, 102, 1);
}

#hov {
  color: #E6E6E6;
  text-decoration: none;
}

#hov:hover {
  color: rgba(61, 0, 102, 1);
}

h3 {
  padding: 0em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  text-decoration: none;
}

p {
  margin-right: 2em;
  font-size: 18px;
  text-decoration: none;
}

.middle2 {
  width: 29em;
  height: 7em;
  margin-top: 0.5em;
  margin-left: -0.6em;
  padding-left: 1em;
  display: block;
  border: 2px solid #E6E6E6;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  float: left;
  color: white;
  font-size: 25px;
}

.comment {
  margin-right: 0.5em;
  float: right;
  text-decoration: none;
  color: #E6E6E6;
}

.comment:hover {
  color: rgba(61, 0, 102, 0.8);
}

.middle3 {
  width: 29em;
  height: 20em;
  margin-top: 0.5em;
  margin-left: 1em;
  padding-left: 0.6em;
  padding-top: 0.7em;
  display: block;
  border: 2px solid #E6E6E6;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  float: left;
  color: white;
  font-size: 25px;
}