<!DOCTYPE HTML>

<table id="cont_cont">
    <tr>
        <td><div id="cont"><p id="p_cont">Story Base</p></div>Extended: 0</br>Comments: 0</td>
        <td><div id="cont"><p id="p_cont">Story Base</p></div>Extended: 0</br>Comments: 0</td>
        <td><div id="cont"><p id="p_cont">Story Base</p></div>Extended: 0</br>Comments: 0</td>
    </tr>
    <tr>
        <td><div id="cont"><p id="p_cont">Story Base</p></div>Extended: 0</br>Comments: 0</td>
        <td><div id="cont"><p id="p_cont">Story Base</p></div>Extended: 0</br>Comments: 0</td>
        <td><div id="cont"><p id="p_cont">Story Base</p></div>Extended: 0</br>Comments: 0</td>
    </tr>
</table>
<div id="footer"></div>