<!DOCTYPE HTML>

<h2>Contributions</h2>
<table>
    <tr style="margin-top: 2em; margin-bottom: 2em" id="cont">
        <td><p>Story Base</p>Extended:&nbsp;0</br>Comments:&nbsp;0</td>
        <td><p>Story Base</p>Extended:&nbsp;0</br>Comments:&nbsp;0</td>
        <td><p>Story Base</p>Extended:&nbsp;0</br>Comments:&nbsp;0</td>
    </tr>
    <tr id="cont">
        <td><p>Story Base</p>Extended:&nbsp;0</br>Comments:&nbsp;0</td>
        <td><p>Story Base</p>Extended:&nbsp;0</br>Comments:&nbsp;0</td>
        <td><p>Story Base</p>Extended:&nbsp;0</br>Comments:&nbsp;0</td>
    </tr>
</table>
