<!-- extends base -->

{% extends "base.html" %}

{% block content %}
    <h1>Edit Your Profile</h1>
    <div class="align">
        <form action="" method="post" name="edit">
            {{ form.hidden_tag() }}
            <table class="boxes">
                <tr>
                    <td id="fields">About Yourself: </td>
                    <td>{{ form.about_me() }}</td>
                </tr>
                <tr>
                    <td id="fields">Birthday: </td>
                    <td>{{ form.birthday(class='date') }}</td>
                </tr>
                <tr>
                    <td id="fields">Get Emails?</td>
                    <td>{{ form.emails() }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Save Changes"></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}