<!DOCTYPE HTML>

<table id="cont_cont">
    <tr>
        <td id="fav">Top 3: </td>
        <td><div id="cont"><p id="p_cont">Story Base</p></div></td>
        <td><div id="cont"><p id="p_cont">Story Base</p></div></td>
        <td><div id="cont"><p id="p_cont">Story Base</p></div></td>
    </tr>
    <tr>
        <td id="fav">Other: </td>
        <td><div id="cont"><p id="p_cont">Story Base</p></div></td>
        <td><div id="cont"><p id="p_cont">Story Base</p></div></td>
        <td><div id="cont"><p id="p_cont">Story Base</p></div></td>
    </tr>
</table>
<div id="footer"></div>