<!DOCTYPE HTML>

<h2>Favorites</h2>
<table>
    <tr style="margin-top: 2em; margin-bottom: 2em" id="cont">
        <td style="margin: 0 3em 0 0; padding: 0"><div>Top&nbsp;3:&nbsp;</div></td>
        <td><p>Story Base</p></td>
        <td><p>Story Base</p></td>
        <td><p>Story Base</p></td>
    </tr>
    <tr id="cont">
        <td style="margin: 0 3em 0 0; padding: 0">Other: </td>
        <td><p>Story Base</p></td>
        <td><p>Story Base</p></td>
        <td><p>Story Base</p></td>
    </tr>
</table>