<!DOCTYPE HTML>

<h2>Favorites</h2>
<table>
    <tr style="margin-top: 2em; margin-bottom: 2em" id="cont">
        <td style="margin: 0 3em 0 0; padding: 0"><div>Top&nbsp;3:&nbsp;</div></td>
        {% for post in user.favorites(True) %}
            <td><a href="{{ url_for('story', base_id=post.id) }}">Story Base</a></td>
        {% endfor %}
    </tr>
    <tr id="cont">
        <td style="margin: 0 3em 0 0; padding: 0">Other: </td>
        {% for post in user.favorites(False) %}
            <td><a href="{{ url_for('story', base_id=post.id) }}">Story Base</a></td>
        {% endfor %}
    </tr>
</table>