<!DOCTYPE HTML>

<!-- extends base -->
{% extends "base.html" %}

{% block content %}
    {% if user.nickname %}
        <h1>Hi, {{ user.nickname }}!</h1>
    {% else %}
        <h1>Hi, Guest!</h1>
    {% endif %}
    <table class="align">
        <tr>
            <td><div>
                <a style="padding: 5em 2em 5em 1.5em" class="category" href="{{ url_for('base', category='action') }}">Action/Adventure</a>
            </div></td>
            <td><div>
                <a style="padding: 5em 3.5em 5em 3.5em" class="category" href="{{ url_for('base', category='history') }}">History</a>
            </div></td>
            <td><div>
                <a style="padding: 5em 3.7em 5em 3.7em" class="category" href="{{ url_for('base', category='horror') }}">Horror</a>
            </div></td>
        </tr>
        <tr>
            <td><div>
                <a style="padding: 4em 5em 4em 2em" class="category" href="{{ url_for('base', category='mystery') }}">Mystery/Thriller</br>&nbsp;&nbsp;&nbsp;&nbsp;/Suspense</a>
            </div></td>
            <td><div>
                <a style="padding: 5em 3em 5em 3em" class="category" href="{{ url_for('base', category='romance') }}">Romance</a>
            </div></td>
            <td><div>
                <a style="padding: 5em 2em 5em 2em" class="category" href="{{ url_for('base', category='scifi') }}">SciFi/Fantasy</a>
            </div></td>
        </tr>
    </table>
{% endblock %}