<!DOCTYPE HTML>

<!-- extends base -->
{% extends "base.html" %}

{% block content %}
    {% if user.nickname %}
        <h1>Hi, {{ user.nickname }}!</h1>
    {% else %}
        <h1>Hi, Guest!</h1>
    {% endif %}
    <table>
        <tr class="container">
            <td class="boxes">
                <a href="{{ url_for('base', category='action') }}">Action/Adventure</a>
            </td>
            <td class="boxes">
                <a href="{{ url_for('base', category='history') }}">History</a>
            </td>
            <td class="boxes">
                <a href="{{ url_for('base', category='horror') }}">Horror</a>
            </td>
        </tr>
        <tr class="container">
            <td class="boxes">
                <a href="{{ url_for('base', category='mystery') }}">Mystery/Thriller</br>/Suspense</a>
            </td>
            <td class="boxes">
                <a href="{{ url_for('base', category='romance') }}">Romance</a>
            </td>
            <td class="boxes">
                <a href="{{ url_for('base', category='scifi') }}">SciFi/Fantasy</a>
            </td>
        </tr>
    </table>
{% endblock %}