<!DOCTYPE HTML>

<!-- extends base -->
{% extends "base.html" %}

{% block content %}
    {% if user.nickname %}
        <h1>Hi, {{ user.nickname }}!</h1>
    {% else %}
        <h1>Hi, Guest!</h1>
    {% endif %}
    <table>
        <tr>
            <td><div><p>Action/Adventure</p></div></td>
            <td><div><p>History</p></div></td>
            <td><div><p>Horror</p></div></td>
        </tr>
        <tr>
            <td><div><p>Mystery/Thriller<br>/Suspense</p></div></td>
            <td><div><p>Romance</p></div></td>
            <td><div><p>SciFi/Fantasy</p></div></td>
        </tr>
    </table>
    <a class="addstory" href="{{ url_for('base_add') }}">Add a Story</a>
{% endblock %}