<!DOCTYPE HTML>

<!-- extends base -->
{% extends "base.html" %}

{% block content %}
<div style="margin-top: 4em; height: 1px;"></div>
<div class="container">
    <form action="" method="post" name="base">
        {{ form.hidden_tag() }}
        <table class="box2">
            <tr>
                <td id="fields">Say Something:</td>
                <td>{{ form.post(size=30, maxlength=1000) }}</td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}