<!DOCTYPE HTML>

<!-- extends base -->
{% extends "base.html" %}

{% block content %}
<div id="box">
    <h2>Stories</h2>
    <ul>
    {% for base in bases %}
        <a id="ahover" href="{{ url_for('story', base_id=base.id) }}">
            <li id="ahover" class="middle2">
                <h3>{{ base.title }}</h3>
                <p>{{ base.description }}</p>
                <a class="comment" href="{{ url_for('base_extend', base_id=base.id) }}">Extend</a>
                <a class="comment" href="{{ url_for('comment', base_id=base.id) }}">Comment</a>
            </li>
        </a>
    {% endfor %}
    </ul>
</div>
<div id="footer"></div>
{% endblock %}