<!DOCTYPE HTML>

<!-- extends base -->
{% extends "base.html" %}

{% block content %}
<h1>{{ category }}</h1>
<div class="container">
    <ul class="story">
        <h2>Stories</h2>
        {% for base in bases %}
            <a href="{{ url_for('story', base_id=base.id) }}">
                <li>
                    <h3>{{ base.title }}</h3>
                    <p>{{ base.description }}</p>
                    <a href="{{ url_for('base_extend', base_id=base.id) }}">Extend</a>
                    <a href="{{ url_for('comment', base_id=base.id) }}">Comment</a>
                </li>
            </a>
        {% endfor %}
    </ul>
</div>
<div id="footer"></div>
{% endblock %}