<!-- extends base -->

{% extends "base.html" %}

{% block content %}
    {% if user.nickname %}
    <h1>Hi, {{ user.nickname }}!</h1>
    {% else %}
    <h1> Hi, Guest!</h1>
    {% endif %}
    {% for base in bases %}
    <p class="uppercase">
        Someone said: <b>{{ base.body }}</b>
        <a href="{{ url_for('comment', base_id=base.id) }}">Comment</a>
        <a href="{{ url_for('base_extend', base_id=base.id) }}">Extend</a><br/>
        {% for comment in comments %}
        {% if comment.comment == base.id %}
        <p>Comment: {{ comment.body }}  {{ comment.timestamp }}
        <a href="{{ url_for('comment', base_id=base.id) }}">Comment</a><br/></p>
        {% endif %}
        {% endfor %}
        {% for extend in extends %}
        {% if extend.extend == base.id %}
        <p>
        Sub topic: {{ extend.body }}
        <a href="{{ url_for('comment', base_id=base.id) }}">Comment</a>
        <a href="{{ url_for('base_extend', base_id=base.id) }}">Extend</a><br/>
        </p>
        {% endif %}
        {% endfor %}
    </p>
    {% endfor %}
{% endblock %}
